@charset "UTF-8 ";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
  --font-title: 'Passion One', cursive;
  --font_p: 'Sriracha', cursive;
  --font_default: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Header */
header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5% 5% 5%;
}

header h1 {
  font: normal small-caps bold 80px var(--font-title);
}

header h2 {
  font: normal lighter 15px var(--font_default);
}

/* Main */
main {
  max-width: 1000px;
  max-height: 100%;
  margin: auto;
  border: 2px solid black;
  border-top: transparent;
  border-bottom: transparent;
  box-shadow: 1px 1px 2px black;
}

/* Configurações dos containers */
section {
  font: normal normal 20px var(--font_p);
  background-color: #f3f3df;
  line-height: 2em;
  padding: 2%;
}
#container-imagens {
  height: 300px;
  width: 100%;
  justify-content: space-around;
  display: flex;
}

#container-imagens img{
  border: 2px solid black;
  border-radius: 5px;
}
@media only screen and (max-width: 845px) {
  #container-imagens {
    height: 250px;
  }
}
@media only screen and (max-width: 680px) {
  #container-imagens {
    height: 150px;
  }
}
@media only screen and (max-width: 411px) {
  #container-imagens {
    height: 120px;
  }
}