@charset "UTF-8 ";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* Header */
header{
  background-color: black;
  color: white;
  text-align: center;
  padding: 5% 5% 5%;
}
header h1{
  font: normal bold 80px 'Passion One', cursive;
}
header h2{
  font: normal lighter 20px 'Passion One', cursive;
}
header a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
header a:hover{
  text-decoration: underline;
}
/* Main */
main{
  max-width: 1000px;
  max-height: 100%;
  margin: auto;
  font: normal normal 20px 'Sriracha', cursive;
  border: 2px solid black;
  border-top: transparent;
  border-radius:0px 7px 7px;
  box-shadow: 1px 1px 2px black;
}
/* Configurações dos containers */
.container{
  max-width: 1000px;
  max-height: 700px;
  padding: 10% 0% 10% 4%;
  background-color: #f3f3df;
}
section#container_2{
  background: black url(imagens/background001.jpg) no-repeat fixed center center;
  background-size: cover;
  color: white;
  padding: 10% 0% 10% 3%;
}
#container_2 p{
width: 250px;
background-color: rgba(255, 255, 255, 0.116);
padding: 1%;
}
section#container_4{
  background: black url(imagens/background002.jpg) no-repeat fixed;
  background-size: cover;
  padding: 10% 0% 10% 3%;
}
#container_4 p{
  width: 252px;
  background-color: rgba(255, 255, 255, 0.521);
  padding: 1%;
}
/* Back to top */
a#back-top{
  display: block;
  margin: auto;
  min-width: 20px;
  max-width: 200px;
  height: 6%;
  text-align: center;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  border: 2px solid black;
  transition: 0.7s;
  padding: 0.5%;
  margin-top: 5px;
}
a#back-top::after{
  color: black;
  transition: margin-top 250ms;
}
a#back-top:hover{
  background-color: #b3b3a4;
}


